{% extends 'base.html.twig' %}

{% block title %} Users management page {% endblock %}

{% block body %}
<style>
    body {
        gap: 72px;
        width: 100wh;
        display: flex;
        flex-direction: column;
    }
        
    section {
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
    }
        
    nav {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 12px 0;
        max-width: 1000px;
        justify-content: space-between;
    }
        
    .logo {
        gap: 8px;
        height: 44px;
        display: flex;
        align-items: center;
    }
        
    .logo img {
        height: 44px;
    }
        
    .text-wrapper {
        font-weight: bold;
    }
        
    .auth {
        gap: 8px;
        display: flex;
        height: 44px;
    }

    button a {
        text-decoration: none;
        color: white;
    }
        
    .signin--button {
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        font-weight: 600;
        padding: 12px 16px;
        border-radius: 44px;
        background: #00b8de;
    }
        
    .signin--button:hover {
        background: #00a2c2;
    }
        
    .login--button {
        border: none;
        cursor: pointer;
        transition: 0.3s;
        font-weight: 600;
        padding: 12px 16px;
        border-radius: 44px;
        color: #111 !important;
        background: transparent;
    }
    
    .login--button a {
        color: #111 !important;
    }
        
    .login--button:hover {
        background: #ebebeb !important;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        gap: 20px;
    }

    .grid-item {
        padding: 20px;
        text-align: left;
        border: 1px solid #667379;
    }
        
    footer {
        width: 100wh;
        display: flex;
        padding: 40px 0;
        min-height: 250px;
        background: #dbdbdb;
        flex-direction: column;
        justify-content: flex-end;
    }


      
</style>

<body>
    <!-- NAV BAR -->
    <nav>
        <div class="logo">
            <img class="image" src="/assets/img/image-22.png" />
            <div class="text-wrapper">Wish</div>
        </div>

        <div class="auth">
            <button class="login--button"><a href="/authentication/login">se connecter</a></button>
            <button class="signin--button"><a href="/authentication/signin">Créer un compte</a></button>
        </div>
    </nav>

    <section>
        <div class="grid-container">
            {% for user in users %}
                <div class="grid-item">
                    <p>{{ user.id }}</p>
                    <p>{{ user.email }}</p>
                    <p>{{ user.firstname }}</p>
                    <p>{{ user.lastname }}</p>
                    <p>{{ user.status }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <footer>
        <nav>
            <div class="logo">
                <img class="image" src="/assets/img/image-22.png" />
                <div class="text-wrapper">Wish</div>
            </div>

            <div></div>
        </nav>
    </footer>
</body>

{% endblock %}
