{% block stylesheets %}
<style>
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
 }

 input[type="text"],
 input[type="number"],
 textarea,
 select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  margin-bottom: 10px;
  font-size: 16px;
 }

 textarea {
  resize: vertical; /* Allows vertical resizing */
  height: 150px;
 }

 input[type="text"]:focus,
 input[type="number"]:focus,
 textarea:focus,
 select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
 }
</style>
{% endblock %}


{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="card-footer bg-white px-0 pb-0"> 
        <a class="btn btn-secondary" href="{{ path('app_home') }}">Retourner à l'accueil</a>
        <button class="btn btn-success btn-submit float-end">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
